body {
	color: #555;
}
a {
	color: #333;
	text-decoration: none;
}
td a:hover,
.grey a:hover,
a :hover{
	color: #000 !important;
	text-decoration: underline;
}
tr td {
	padding: 5px 10px;
}
tr:hover td {
	background: #eee;
}

.grey,
.grey a {
	color: #ccc;
}

.popularity-0 { color: #ccc; }
.popularity-1 { color: #888; }
.popularity-2 { color: #8c8; }
.popularity-3 { color: #060; }
.popularity-4 { color: #c00; }